<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <!-- jQuery JS -->
    <script src="{{ url_for('static', filename='jquery/jquery.min.js') }}"></script>

    <!-- Bootbox JS -->
    <script src="{{ url_for('static', filename='bootbox/bootbox.min.js') }}"></script>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Bootstrap core JS -->
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
</head>
<body>

</body>
</html>