<html>
<head>
    <meta http-equiv="refresh" content="6">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- jQuery JS -->
    <script src="{{ url_for('static', filename='jquery/jquery.min.js') }}"></script>

    <!-- Bootbox JS -->
    <script src="{{ url_for('static', filename='bootbox/bootbox.min.js') }}"></script>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Bootstrap core JS -->
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
    <title>Enduro</title>
    <style>
        table{
            border: 5px solid white;
            text-align: left;
            width: 100 %;
            align: left;
        }
        td {
            border: 5px solid white;
        }
        h1 {
            font-size:6vh;
        }
    </style>
</head>
<body>
<div class="container">
{% if finished %}
<table class="table table-condensed">
    <thead>
    <tr>
        <th>Name</th>
        <th>Laps Empty</th>
    </tr>
    </thead>
    <tbody>
    {% for i in racers %}
    {% if i['laps_empty'] > 20 %}
    <tr>
        <td>
            <button class="btn btn-success btn-block">
               <h1>{{i['nickname']}}</h1>
            </button>
        </td>
        <td>
            <button class="btn btn-success btn-block">
                <h1>{{i['laps_empty']}}</h1>
            </button>
        </td>
    </tr>
    {% elif i['laps_empty'] > 5 %}
    <tr>
        <td>
            <button class="btn btn-warning btn-lg btn-block">
                <h1>{{i['nickname']}}</h1>
            </button>
        </td>
        <td>
            <button class="btn btn-warning btn-lg btn-block">
               <h1>{{i['laps_empty']}}</h1>
            </button>
        </td>
    </tr>
    {% elif i['laps_empty'] > 0 %}
    <tr>
        <td>
            <button class="btn btn-danger btn-lg btn-block">
                <h1>{{i['nickname']}}</h1>
            </button>
        </td>
        <td>
            <button class="btn btn-danger btn-lg btn-block">
                <h1>{{i['laps_empty']}}</h1>
            </button>
        </td>
    </tr>
    {% else %}
    <tr>
        <td>
            <button class="btn btn-default btn-lg btn-block">
                <h1>{{i['nickname']}}</h1>
            </button>
        </td>
        <td>
            <button class="btn btn-default btn-lg btn-block">
                 <h1>{{i['laps_empty']}}</h1>
            </button>
        </td>
    </tr>
    {% endif %}
    {% endfor %}
    </tbody>
</table>
{% else %}
<table style="table-layout:fixed;" class="table">
    <thead>
    <tr>
        <th>kart Number</th>
        <th>Laps</th>
        <th>Last Lap</th>
        <th>Laps Empty</th>
    </tr>
    </thead>
    <tbody>
    {% for i in racers %}
    {% if i['laps_empty'] > 20 %}
    <tr class="active">
        <td>{{i['kart']}}</td>
        <td>{{i['laps']}}</td>
        <td>{{i['last_lap']}}</td>
        <td>{{i['laps_empty']}}</td>
    </tr>
    {% elif i['laps_empty'] > 5 %}
    <tr class="success">
        <td>{{i['kart']}}</td>
        <td>{{i['laps']}}</td>
        <td>{{i['last_lap']}}</td>
        <td>{{i['laps_empty']}}</td>
    </tr>
    {% elif i['laps_empty'] > 0 %}
    <tr class="danger">
        <td>{{i['kart']}}</td>
        <td>{{i['laps']}}</td>
        <td>{{i['last_lap']}}</td>
        <td>{{i['laps_empty']}}</td>
    </tr>
    {% else %}
    <tr class="danger">
        <td>{{i['kart']}}</td>
        <td>{{i['laps']}}</td>
        <td>{{i['last_lap']}}</td>
        <td>{{i['laps_empty']}}</td>
    </tr>
    {% endif %}
    {% endfor %}
    </tbody>
</table>
{% endif %}

</div>
</body>
</html>
